<!DOCTYPE html>
<html>
<head>
  <title>HW15-A Google OAuth</title>
</head>
<body>
  <h1>HW15-A Google OAuth Demo</h1>

  <% if (user) { %>
    <p>You are already signed in as <%= user.displayName %>.</p>
    <a href="/profile">Go to Profile</a>
  <% } else { %>
    <p>Please sign in using your Google account.</p>

    <a href="/auth/google">
      <button>Sign in with Google</button>
    </a>
  <% } %>
</body>
</html>